@using Msh.Admin.Models.Const
@{
	var title = "Coin Corner";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuCoinCorner, currentItem = "CcIndex" })


<div class="text-center">
	<h1 class="display-6">@title</h1>

</div>
