@{
    ViewData["Title"] = "Coin Corner Config";
}

<div class="text-center">
	<h1 class="display-4">Coin Corner Config</h1>
	<p></p>
	

</div>
<div class="row">
	<div class="col-12">
		<div class="mb-3">
			<label for="userId" class="form-label">UserId</label>
			<input type="text" class="form-control" id="userId" placeholder="UserId">
		</div>
		<div class="mb-3">
			<label for="publicKey" class="form-label">PublicKey</label>
			<input type="text" class="form-control" id="publicKey" rows="3"/>
		</div>
		<div class="form-check form-switch mb-3">
			<input type="checkbox" class="form-check-input" id="logEnabled" />
			<label class="form-check-label" for="logEnabled">
				Log Enabled
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="input-group mb-3">
			<button class="btn btn-outline-primary" type="button">Save</button>
			<button class="btn btn-outline-secondary" type="button">Cancel</button>
		</div>
	</div>
</div>