@{
	var title = "Coin Corner";
	ViewData["Title"] = title;

	await Html.RenderPartialAsync("Admin/Menus/_AdminMenuCoinCorner", "CcIndex");
}

<div class="text-center">
	<h1 class="display-4">@title</h1>
	

</div>
