@model string

<div data-info-for="info-publish">
	<span>Publish</span>
	<div>
		<p>This page is used to edit <b>@Model</b> Admin data stored in the database.</p>
		<p>The data is also held in a memory cache for faster access.</p>
		<p>After making changes, click Publish to refresh the cache from the latest database information.</p>
	</div>
</div>