@model Msh.HotelCache.Models.Hotels.TestModel;
@{
	var formAction = ViewBag.FormAction;
}
<div class="row">
	<div class="col-6">

		<form asp-action="@formAction" id="main-form">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group mb-3">
				<label asp-for="Code" class="control-label"></label>&nbsp;<info-icon name="info-code"/>
				@if (formAction == "TestModelEdit")
				{
					<label class="form-control">@Model.Code</label>
					@* <input asp-for="Code" class="form-control" disabled /> *@
					<input type="hidden" id="Code" name="Code" value="@Model.Code"/>
				}
				else
				{
					<input asp-for="Code" class="form-control" />
				}
				
				<span asp-validation-for="Code" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Name" class="control-label"></label>&nbsp;<info-icon name="info-name"/>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			@* <div class="form-group mb-3">
			<label asp-for="Email" class="control-label"></label>&nbsp;<info-icon name="info-email"/>
			<input asp-for="Email" class="form-control"/>
			<span asp-validation-for="Email" class="text-danger"></span>
			</div> *@

			@* <div class="form-group mb-3">
			<label asp-for="Password" class="control-label"></label>&nbsp;<info-icon name="info-password" />
			<input asp-for="Password" class="form-control" />
			<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
			<label asp-for="Language" class="control-label"></label>&nbsp;<info-icon name="info-language" />
			<select asp-for="Language" class="form-control" asp-items="ViewBag.Languages">
			<option value="">Please select a language</option>
			</select>
			<span asp-validation-for="Language" class="text-danger"></span>
			</div> *@

			@* <div class="form-group mb-3">
			<label asp-for="Hotels" class="control-label"></label>&nbsp;<info-icon name="info-hotels" />
			<select asp-for="Hotels" class="form-control" asp-items="ViewBag.Hotels" multiple>
			<option value="">Please select hotels</option>
			</select>
			<span asp-validation-for="Language" class="text-danger"></span>
			</div> *@

			@* <div class="form-group mb-3">
			<label asp-for="BookingStatus" class="control-label"></label>&nbsp;<info-icon name="info-booking-status" />
			<select asp-for="BookingStatus" class="form-control" asp-items="Html.GetEnumSelectList<BookingStatus>()" >
			</select>
			<span asp-validation-for="Language" class="text-danger"></span>
			</div> *@

			<div class="form-group mb-3">
				<label asp-for="Notes" class="control-label"></label>&nbsp;<info-icon name="info-notes"/>
				<textarea asp-for="Notes" class="form-control"></textarea>
				<span asp-validation-for="Notes" class="text-danger"></span>
			</div>

			<div class="input-group">
				<button type="submit" name="Command" value="Save" class="btn btn-outline-primary">Save</button>
			</div>

		</form>

	</div>
</div>
