html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-base-outer {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(125,125,125,0.5);
    overflow: auto;
    padding: 0;
}
.modal-base-inner {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #808080;
    border-radius: 5px;
}
.modal-base-cross {
    height:30px;
    width: 30px;
    text-align: center;
}
.modal-base-cross a {
    text-decoration: none;
    font-size: x-large;
}
.modal-base-title h3{
    margin-top: -20px;
}

.modal-base-container{
    padding: 10px;
}
.modal-base-title {
    text-align: center;
}
.modal-base-body {
    padding: 10px 0 10px 0;
}

@media only screen and (min-width: 500px) {
    .modal-base-inner {
        width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    .modal-base-inner {
        width: 400px;
    }
}




table {
    border-collapse: collapse;
    width: 100%;
}

    table tr th {
        border: 1px solid #ddd;
        padding: 8px;
        /*white-space: pre;*/
    }

    table tr td {
        border: 1px solid #ddd;
        padding: 8px;
       /* white-space: pre;*/
      
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    table tr:hover {
        background-color: #ddd;
    }

    table tr th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

.cell-outer {
    display: flex;
    justify-content:space-around;
    width: 100%;
}
.cell-inner {
    /*border: 1px solid green;*/
    width: 30px;
    display: flex;
    justify-content: center;
}
    .cell-inner a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #337ab7;
    }

    div.cell-icons {
        display: table;
        width: 100%;
        min-width: 50px;
        table-layout: fixed; /* For cells of equal size */
    }

    div.cell-icons span {
        display: table-cell;
        text-align: center;
    }

        div.cell-icons span a {
            text-decoration: none;
            width: 50px;
            display: block;
            color: #337ab7;
        }
.right-align {
    text-align: right;
}

.error-block {
    display:none;
}
.error-block-show {
    display: block;
}

.error-block-show .error-message {
    color: red;
}


.dim-input {
    background-color: lightgray;
}