@using Msh.Admin.Models.Const
@model string;
@{
	var title = "Admin Hotels";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelsIndex" })


<div class="text-center">
	<h3 class="display-4">@title - User: @Model</h3>
</div>

