@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.Admin.Models.Const
@using Msh.WebApp.TagHelpers

@model Msh.HotelCache.Models.RoomTypes.RoomType;
@{
	var title = "Room Type";
    ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "Hotels" })


<div class="text-center">
	<h1 class="display-4">@title</h1>
	<p></p>
</div>

@{
	await Html.RenderPartialAsync("Admin/Hotels/_RoomTypeEdit", @Model);
}

@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/pay/msh-admin-roomtype.js"></script>
}
