@using Msh.Admin.Models.Const
@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuAdmin, currentItem = "AdminIndex" })

<div class="text-center">
	<h1 class="display-6">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
