@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.Admin.Models

@model List<AdminMenuItem>


<div class="row">
	<div class="col-12">
		<ul class="navbar-nav flex-row justify-content-start">
			@foreach (var item in @Model)
			{
				<li class="nav-item">|</li>
				<li class="nav-item">
					<a class="nav-link text-dark @item.Active" asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">@item.Text</a>
				</li>
			}
		</ul>
	</div>
</div>