@using Msh.Admin.Models.Const
@{
	var title = "Scripts Test";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuDev, currentItem = "DevScriptsTest" })


<div class="text-center">
	<h1 class="display-6">@title</h1>
	<div>
		<input type="button" id="show-modal" class="btn btn-primary" value="Show Modal" />
	</div>
	<div class="mt-3">
		<input type="button" id="show-overlayl" class="btn btn-primary" value="Show Overlay" />
	</div>
</div>

@section Scripts{

	<script src="/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/msh-admin-palls.js"></script>
	<script src="/js/admin/dev/msh-dev-scripts-test.js"></script>
}