@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.Models.Admin.ViewModels
@model Msh.WebApp.Models.Admin.ViewModels.SpecialsListVm;
@{
	var title = "Specials List";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuHotels, currentItem = "SpecialsList"
})

@await Html.PartialAsync("Hotels/_HiddenHotelInputs", @Model as HotelListVm)

<input type="hidden" id="edit-type" value="specials-list" />

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Hotel Specials. Click for more information: <info-icon name="info-specials" /> </p>
</div>

@await Component.InvokeAsync("AdminHotelSelect", @Model.HotelCode)

<div class="row">
	<div class="col-12" id="table-target">
		@await Html.PartialAsync("Hotels/_SpecialsTable", @Model)
	</div>
</div>

@await Html.PartialAsync("Hotels/_BulkCopyDelButtons", @Model.HotelCode)

@* Include the Save/Return/Publish/Archive/Load/Lock/Info buttons *@
@await Html.PartialAsync("_PublishArchiveLoadLock", new PublishArchiveLoadLockVm
{
	ReturnUrl = $"{AdminRoutes.Specials}",
	ReturnText = ConstReturnText.ReturnToDash,
})

@await Html.PartialAsync("Admin/_AdminErrorBlock", @Model.ErrorMessage)

@section InfoItems {

	<div data-info-for="info-specials">
		<span>Specials List</span>
		<div>
			<p>The list shows the Specials for the selected hotel.</p>

			@await Html.PartialAsync("Hotels/_ListIconsInfo")
			<p>Additional icons for this list:</p>
			<ul>
				<li><i class="fa-solid fa-list"></i> - Edit the options that a customer might select for this special.</li>
				<li><i class="fa-solid fa-calendar"></i> - Edit the dates list associated with the record.</li>
			</ul>
		</div>

	</div>
}

@section Scripts{
	<script src="~/js/mshapp/msh-routes.js"></script>
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/msh-admin-palls.js"></script>
	<script src="~/js/admin/hotels/msh-admin-specials.js"></script>
}



