@using Msh.WebApp.Areas.Admin.Models
@model Msh.WebApp.Models.Admin.ViewModels.CodeCheckListVm
@{
	var title = "Enabled Rate Plans";
	ViewData["Title"] = title;
	var itemCode = ViewBag.Code as string;
	var hotelCode = ViewBag.HotelCode as string;
}

@await Html.PartialAsync("_HotelCodeHiddenFields", new HotelCodeHiddenFieldsVm
{
	UseHotel = true,
	HotelCode = @hotelCode,
	Code = itemCode,
	EditType = "item-options"
})
<input type="hidden" id="save-api-url" value="/api/hotelapi/DiscountRatePlansSaveEnable" />

<div class="text-center">
	<h1 class="display-6">@title for Special  @itemCode in @hotelCode</h1>
	<p>This Discount, @itemCode, can be used only for the rate plans selected here.</p>
	<p>For more information click <info-icon name="info-special-rate-plans" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
		@await Html.PartialAsync("Hotels/_CheckListSelectEditor", @Model)

	</div>
</div>



@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = $"/Admin/Discounts/DiscountsList?hotelCode={@hotelCode}&code={@itemCode}",
	ReturnText = ConstReturnText.ReturnToList,
	ButtonType = SaveReturnTypes.EventListener,
	SaveOperation = "save-button"
})


@section InfoItems {

	<div data-info-for="info-special-rate-plans">
		<span>Enabled Rate Plans</span>
		<div>
			<p>
				This table lists all rate plans for the hotel. 
				You can set the checkbox for any rate plans to which this discount can apply.
			</p>
			<p>If no rate plans are added, the discount is available with all rate plans.</p>
			<p>
				<b>WARNING</b> - When editing discount rate plans you must be working with the same data set for both discounts and rate plans.
				For example, if you have pulled the discounts from the published list, you should also pull the rate plans from the published list.
				If you edit then publish the discounts, and you have added a rate plan that has not been published, the discount will not work as expected.
			</p>
			<p>
				<b>WARNING</b> - You should generally add only Enabled rate plans or Disabled rate plans, not both.
				If you have added Enabled rate plans, then all others are disabled, so there's no need to add any disabled rate plans.
				If you have added Disabled rate plans, then all other rate plans are enabled.
			</p>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-check-codes-select.js"></script>
	<script src="~/js/admin/hotels/msh-admin-discounts-rateplans.js"></script>
}