@using Msh.Admin.Models.Const

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuAdmin, currentItem = "AdminIndex"
})

<div class="text-center">
	<h1 class="display-6">Administrator</h1>
</div>
