@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.TagHelpers
@{
	var title = "FP Error Code Bank";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuFp, currentItem = "FpErrorCodesBank" })

<input type="hidden" id="edit-type" value="bank-list" />

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>For more information click <info-icon name="info-error-codes-bank" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
	</div>
</div>

@* Include the Save/Return/Publish/Archive/Load/Lock/Info buttons *@
@await Html.PartialAsync("_PublishArchiveLoadLock", new PublishArchiveLoadLockVm
{
	ReturnUrl = "/Admin/Fp/",
	ReturnText = ConstReturnText.ReturnToDash,
	SaveOperation = "#save-bank"
})

@section InfoItems {

	<div data-info-for="info-error-codes-bank">
		<span>FP Error Code Bank</span>
		<div>
			<p>
				A set of date ranges used to prohibit or allow Discounts.
			</p>
			<p>Prohibit date ranges might be used for discounts that are generally available but occasionally are not.</p>
			<p>Allow date ranges might be used for discounts that are seasonal and available for a short time.</p>
			<p>If no dates are supplied the discount will be available all the time, though that may also be determined by Opera for some discount types.</p>
			<p>Editing the date list: <info-icon name="info-date-range-list"/></p>
		</div>
	</div>

}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-itemdatesservice.js"></script>
	<script src="~/js/admin/fp/msh-admin-fp-bank.js"></script>
}

