@{
	ViewData["Title"] = "Admin Dev Page";
	await Html.RenderPartialAsync("Admin/Menus/_AdminMenuDev", "DevIndex");
}

<div class="text-center">
	<h1 class="display-4">Dev</h1>
	<a href="https://localhost:7150/admin/hotels">Hotels</a><br/>
	<a href="https://localhost:7150/admin/payments/coincorner">Coin Corner</a><br />
	<a href="https://localhost:7150/admin/dev">Dev</a><br />

</div>

