@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.TagHelpers
@model Msh.WebApp.Models.Admin.ViewModels.CodeCheckListVm
@{
	var title = "Disabled Rate Plans";
	ViewData["Title"] = title;
	var itemCode = ViewBag.Code as string;
	var hotelCode = ViewBag.HotelCode as string;
}

<input type="hidden" id="edit-type" value="item-options"/>
<input type="hidden" id="item-code" value="@itemCode" />
<input type="hidden" id="hotel-code" value="@hotelCode" />
<input type="hidden" id="save-api-url" value="/api/hotelapi/DiscountRatePlansSaveDisable" />

<div class="text-center">
	<h1 class="display-6">@title for Special  @itemCode in @hotelCode</h1>
	<p>This Discount, @itemCode, cannot be used for the rate plans selected here.</p>
	<p>For more information click <info-icon name="info-special-rate-plans" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
		@await Html.PartialAsync("Hotels/_CheckListSelectEditor", @Model)

	</div>
</div>


@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = $"/Admin/Hotels/DiscountsList?hotelCode={@hotelCode}&code={@itemCode}",
	ReturnText = ConstReturnText.ReturnToList,
	SaveOperation = "#save-button"
})


@section InfoItems {

	<div data-info-for="info-special-rate-plans">
		<span>Disabled Rate Plans</span>
		<div>
			<p>
				A list of rate plans that cannot be used with this discount. This might be the case for some specific rate plans that already have discounts applied.
			</p>
			<p>Set the checkbox for each rate plan you want to be excluded.</p>
			<p>If no rate plans are added, the discount is available with all rate plans.</p>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-check-codes-select.js"></script>
	
}