@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.TagHelpers
@{
	var title = "Discount Book Dates List";
	ViewData["Title"] = title;
	var itemCode = ViewBag.Code as string;
	var hotelCode = ViewBag.HotelCode as string;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "DiscountsList" })

@await Html.PartialAsync("_HotelCodeHiddenFields", new HotelCodeHiddenFieldsVm
{
	UseHotel = true, HotelCode = @hotelCode, Code = itemCode, EditType = "item-dates"
})

<div class="text-center">
	<h1 class="display-6">@title for @itemCode in @hotelCode</h1>
	<p>For more information click <info-icon name="info-discount-dates" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
	
	</div>
</div>

@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = $"/Admin/Hotels/DiscountsList?hotelCode={@hotelCode}&code={@itemCode}",
	ReturnText = ConstReturnText.ReturnToList,
	SaveOperation = "#save-dates"
})


@section InfoItems {

	<div data-info-for="info-discount-dates">
		<span>Discounts Book Dates</span>
		<div>
			<p>A set of date ranges used to prohibit or allow when a customer can use Discounts.</p>
			<p>Prohibit date ranges might be used for times you want to prevent users using the discount - perhaps when a discount won't be active for a while.</p>
			<p>Allow date ranges might be used for times when you want to make booking a discount available during a short period, such as promotion.</p>
			<p>If no dates are supplied the discount can be booked any time, though that may also be determined by Opera for some discount types.</p>
			<p>Editing the date list: <info-icon name="info-date-range-list"/></p>
		</div>
	</div>

}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-itemdatesservice.js"></script>
	<script src="~/js/admin/hotels/msh-admin-discounts-bookdates.js"></script>
}

