@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.Models.Admin.ViewModels
@using Msh.WebApp.TagHelpers
@model Msh.WebApp.Models.Admin.ViewModels.DiscountsListVm;
@{
	var title = "Discounts List";
	ViewData["Title"] = title;
	ViewBag.InfoIcons = "Extras";

	var pallModel = new PublishArchiveLoadLockVm
	{
		OnclickPublish = "window.mshMethods.publishDiscounts()",
		OnclickArchive = "window.mshMethods.archiveDiscounts()",
		OnclickLoad = "window.mshMethods.loadDiscounts()",
		OnclickLock = "window.mshMethods.lockDiscounts()",
		ReturnController = "Hotels",
		ReturnAction = "Index"
	};
}

@await Component.InvokeAsync("AdminMenu", new
{
	menuName = AdminConst.MenuHotels, currentItem = "DiscountsList"
})

@await Html.PartialAsync("Hotels/_HiddenHotelInputs", @Model as HotelListVm)

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Hotel Discounts. Click for more information: <info-icon name="info-discounts" /> </p>
</div>

@await Component.InvokeAsync("AdminHotelSelect", @Model.HotelCode)

<div class="row">
	<div class="col-12" id="table-target">

		@await Html.PartialAsync("Hotels/_DiscountsTable", @Model)

	</div>
</div>

@await Html.PartialAsync("Hotels/_BulkCopyDelButtons", @Model.HotelCode)

@await Html.PartialAsync("_PublishArchiveLoadLock", pallModel)

@await Html.PartialAsync("Admin/_AdminErrorBlock", @Model.ErrorMessage)

<div id="page-info" style="display:none;">
	
	@await Html.PartialAsync("Hotels/_ListIconsInfo")
	
	<div data-info-for="info-discounts">
		<span>Discounts List</span>
		<div>
			<p>A list shows the Discounts for the selected hotel.</p>
			<p>
				Click here to see the standard table icons: <info-icon name="info-icons" />
			</p>
			
			<p>Column icons specific to this list are used to edit the properties that contain more details than a single field:</p>
			<ul>
				<li>

					<p><strong>Enabled Plans</strong> - A list of rate plans that this discount code <strong>can</strong> be used with.</p>
					<p>Use this list where the discount applies to only a few rate plans.</p>
				</li>
				<li>
					<p><strong>Disabled Plans</strong> - A list of rate plans that this discount code <strong>cannot</strong> be used with.</p>
					<p>Use this list where the discount does not apply to only a few rate plans.</p>
				</li>
				<li>
					<p><strong>Offer Dates</strong> - A list of dates when the discount applies.</p>
					<p>If this list is empty the discount is available any time.</p>
				</li>
				<li>
					<p><strong>Book Dates</strong> - A list of dates when the discount can be booked - i.e., can the discount be booked today, for some future dates.</p>
					<p>If this list is empty the discount is can be booked any time.</p>
				</li>
			</ul>
			
		</div>
		
	</div>

</div>

@section Scripts{
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-discounts.js"></script>
}



