@using Msh.Admin.Models.Const
@using Msh.HotelCache.Models.Hotels
@model List<Hotel>;
@{
	var title = "Hotel List";
	ViewData["Title"] = title;
	ViewBag.InfoIcons = "Hotels";
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelList" })

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>
		The hotel records contain hotel codes, names and other data associated with a hotel in Opera.
		Click for more information: <info-icon name="info-hotels"/>
	</p>
</div>

<div class="row">
	<div class="col-12" id="table-target">

		@await Html.PartialAsync("Hotels/_HotelsTable", Model)

	</div>
</div>

@await Html.PartialAsync("Hotels/_BulkCopyDelButtons", "")

<div class="mt-3" style="display:flex;justify-content:start;">
	<div class="input-group">
		<button class="btn btn-outline-primary" class="mr-3" onclick="window.mshMethods.publishHotels()">Publish</button>
		<button class="btn btn-outline-primary" class="mr-3" onclick="window.mshMethods.loadHotels()">Load</button>
		<a asp-contoller="Hotels" asp-action="Index" class="btn btn-outline-secondary">Return to dashboard</a>
	</div>

</div>

@await Html.PartialAsync("Admin/_AdminErrorBlock", "")

<div id="page-info" style="display:none;">

	<div data-info-for="info-hotels">
		<span>Hotels List</span>
		<div>
			
			@await Html.PartialAsync("Hotels/_ListIconsInfo")
			<p>Additional icons used in some lists:</p>
			<ul>
				<li><i class="fa-solid fa-calendar"></i> - Edit the dates list associated with the record.</li>
			</ul>
			<p>Stay Dates, if used, determine date ranges within which the guest cannot stay.</p>
			<p>Book Dates, if used, determine date ranges within which the guest cannot make bookings for the hotel.</p>
			<h4>Publish and Load</h4>
			<p>Click <info-icon name="info-publish" /> for more information on the Publish and Load buttons.</p>
		</div>
	</div>
	
	@await Html.PartialAsync("Admin/_AdminPublish", "")


</div>

@section Scripts{
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}



