@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@{
	var title = "Hotel Book Dates List";
	ViewData["Title"] = title;
	var hotelCode = ViewBag.HotelCode as string;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelList" })

@await Html.PartialAsync("_HotelCodeHiddenFields", new HotelCodeHiddenFieldsVm
{
	UseHotel = true,
	HotelCode = @hotelCode,
	Code = "",
	EditType = "item-options"
})

<div class="text-center">
	<h1 class="display-6">@title for @hotelCode</h1>
	<p>For more information click <info-icon name="info-hotel-dates" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
	
	</div>
</div>

@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = "/Admin/Hotels/",
	ReturnText = ConstReturnText.ReturnToList,
	SaveOperation = "#save-dates"
})

@section InfoItems {

	<div data-info-for="info-hotel-dates">
		<span>Hotel Dates</span>
		<div>
			<p>
				Add dates when the hotel is unavailable (Stay From - Stay To).
				Set the Enabled flag to enable the dates to be used, i.e., to disable the hotel for those dates.
			</p>
			<p>
				Add dates when the user cannot make bookings for the hotel (Book From - Book To).
				Set the Enabled flag to enable the dates to be used, i.e.,
				to prevent users making bookings for the hotel on those dates.
			</p>
			<p>
				The date ranges are inclusive.
			</p>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-itemdatesservice.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels-bookdates.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}

