@model Msh.HotelCache.Models.Hotels.Hotel;
@{
	var title = "Hotels";
    ViewData["Title"] = title;
}

<div class="text-center">
	<h1 class="display-4">@title</h1>
	<p></p>
</div>

@{
	await Html.RenderPartialAsync("Hotels/_HotelEdit", @Model);
}
<div class="row py-5">
	<div class="col-12">
		<button id="get-hotel" class="btn btn-primary" onclick="window.mshMethods.getFormData()">Get Hotel</button>
	</div>
</div>

@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}
