@model Msh.HotelCache.Models.Hotels.Hotel;
@{
	var title = "Hotels";
    ViewData["Title"] = title;
}

<div class="text-center">
	<h1 class="display-4">@title</h1>
	<p></p>
</div>

@await Html.PartialAsync("Hotels/_HotelEdit", @Model);

@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/pay/msh-admin-coincorner.js"></script>
}
