@using Msh.Admin.Models.Const
@using Msh.HotelCache.Models.Hotels
@model List<Hotel>;
@{
	var title = "Hotel List";
	ViewData["Title"] = title;
	ViewBag.InfoIcons = "Hotels";
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelList" })


<div class="text-center">
	<h1 class="display-6">@title</h1>
</div>

<div class="row">
	<div class="col-12" id="table-target">

		@await Html.PartialAsync("Hotels/_HotelsTable", Model)

	</div>
</div>
@await Html.PartialAsync("Hotels/_BulkCopyDelButtons", "")


@await Html.PartialAsync("Admin/_AdminErrorBlock", "")

<div id="page-info" style="display:none;">

	<div data-info-for="info-hotels">
		<span>Hotels List</span>
		<div>
			
			@await Html.PartialAsync("Hotels/_ListIconsInfo")
			<p>Additional icons used in some lists:</p>
			<ul>
				<li><i class="fa-solid fa-calendar"></i> - Edit the dates list associated with the record.</li>
			</ul>

		</div>
	</div>

	<div data-info-for="info-hotel-code">
		<span>@ViewBag.InfoIcons Hotel</span>
		<div>
			<p>Select a hotel to view @ViewBag.InfoIcons for that hotel</p>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-hotels.js"></script>
}



