@using Msh.Admin.Models.Const
@model string;
@{
	var title = "Admin Hotels";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "HotelsIndex" })


<div class="text-center">
	<h1 class="display-6">@title</h1>
</div>

