@using Msh.Admin.Models.Const
@using Msh.WebApp.Models.Admin

@model Msh.HotelCache.Models.RoomTypes.RoomType;
@{
	var success = new SuccessAlert
	{
		ModelName = "Test Model",
		ReturnPath = "/admin/hotels/roomtypelist?hotelCode=" + ViewBag.HotelCode,
		ReturnPathName = "Room Type List"
	};
	var title = "Room Type";
    ViewData["Title"] = title;
    var hotelCode = ViewBag.HotelCode;
    ViewBag.formAction = "RoomTypeAdd";
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "Hotels" })


<div class="text-center">
	<h1 class="display-4">@title</h1>
	<p></p>
</div>

@await Html.PartialAsync("Admin/_AdminSaveSuccess", success)
@await Html.PartialAsync("Hotels/_RoomTypeEdit", @Model)

@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/Admin/Hotels/msh-admin-roomtype.js"></script>
}
