@using Msh.Admin.Models.Const
@using Msh.WebApp.Areas.Admin.Models
@{
	var title = "Special Options List";
	ViewData["Title"] = title;
	var itemCode = ViewBag.Code as string;
	var hotelCode = ViewBag.HotelCode as string;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuHotels, currentItem = "SpecialsList" })

@await Html.PartialAsync("_HotelCodeHiddenFields", new HotelCodeHiddenFieldsVm
{
	UseHotel = true,
	HotelCode = @hotelCode,
	Code = itemCode,
	EditType = "item-options"
})

<div class="text-center">
	<h1 class="display-6">@title for @itemCode in @hotelCode</h1>
	<p>For more information click <info-icon name="info-special-options" /></p>
</div>

<div class="row">
	<div class="col-12" id="table-target">
	
	</div>
</div>

@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = $"/Admin/Hotels/SpecialsList?hotelCode={hotelCode}&code={itemCode}",
	ReturnText = ConstReturnText.ReturnToList,
	SaveOperation = "#save-options"
})


@section InfoItems {

	<div data-info-for="info-special-options">
		<span>Special Options</span>
		<div>

		</div>
	</div>
}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-specials-options.js"></script>
	
}

