@using Msh.WebApp.Areas.Admin.Models
@model Msh.WebApp.Models.Admin.ViewModels.CodeCheckListVm
@{
	var title = "Disabled Room Types";
	ViewData["Title"] = title;
	var itemCode = ViewBag.Code as string;
	var hotelCode = ViewBag.HotelCode as string;
}

@await Html.PartialAsync("_HotelCodeHiddenFields", new HotelCodeHiddenFieldsVm
{
	UseHotel = true,
	HotelCode = @hotelCode,
	Code = itemCode,
	EditType = "item-options"
})
<input type="hidden" id="save-api-url" value="/api/hotelapi/SpecialRoomTypesSave" />

<div class="text-center">
	<h1 class="display-6">@title for Special  @itemCode in @hotelCode</h1>
	<p>This Special, @itemCode, cannot be used for the room types selected here.</p>
	<p>For more information click <info-icon name="info-special-room-types" /></p>
</div>


<div class="row">
	<div class="col-12" id="table-target">
		@await Html.PartialAsync("Hotels/_CheckListSelectEditor", @Model)

	</div>
</div>


@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = $"/Admin/Hotels/SpecialsList?hotelCode={hotelCode}&code={itemCode}",
	ReturnText = ConstReturnText.ReturnToList,
	SaveOperation = "window.mshMethods.saveCodeCheckList()"
})

@section InfoItems {

	<div data-info-for="info-special-room-types">
		<span>Disabled Room Types</span>
		<div>
			<p>
				Select the room types for which this special cannot be used.
			</p>
		</div>
	</div>
}

@section Scripts {
	<script src="~/js/mshapp/msh-ApiService.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/hotels/msh-admin-check-codes-select.js"></script>
	
}

