@using Msh.WebApp.Models.Admin
@model Msh.HotelCache.Models.Hotels.TestModel;

@{
	var success = new SuccessAlert
	{
		ModelName = "Test Model",
		ReturnPath = "/admin/hotels/testmodellist",
		ReturnPathName = "Test Model List"
	};
	ViewBag.formAction = "TestModelAdd";
}

<div class="row">
	<div class="col-6">
		<h3>Add Test Model</h3>
		@await Html.PartialAsync("Admin/_AdminSaveSuccess", success)
		@await Html.PartialAsync("Hotels/_TestModelEdit", @Model)
		
	</div>
</div>

@await Html.PartialAsync("Hotels/_TestModelEditInfo", "Test Model Edit")

@section Scripts {
	
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/admin/hotels/msh-admin-testmodel.js"></script>
}