@model Msh.WebApp.Areas.Admin.Models.PublishArchiveLoadLockVm
@{
	var publishMethod = Model.OnclickPublish;
	var loadMethod = Model.OnclickLoad;
	var lockMethod = Model.OnclickLock;
	var archiveMethod = Model.OnclickArchive;
}	

<div class="row mt-3 sticky-bottom">
	<div class="col-12 d-inline-flex justify-content-start flex-wrap" style="width:100%;">

		@await Html.PartialAsync("_SaveReturnButtonsPart", Model)

		<div class="input-group mt-2 ml-2" style="width:auto;margin-right:3px;">
			<button class="btn btn-outline-primary" class="ml-3" onclick="@publishMethod">Publish</button>
			<button class="btn btn-outline-primary" class="mr-3" onclick="@archiveMethod">Archive</button>

		</div>
		<div class="input-group mt-2 ml-2" style="width:auto;">
			<button class="btn btn-outline-primary" class="mr-3" onclick="@loadMethod">Load</button>
			<button class="btn btn-outline-primary" class="mr-3" onclick="@lockMethod">Lock</button>
		</div>
		<div class="input-group mt-2 ml-5" style="width:auto;margin-left:5px;">
			<div class="btn btn-outline-primary">
				<info-icon name="info-publish" />
			</div>
		</div>
	</div>
</div>
