@model Msh.WebApp.Areas.Admin.Models.SaveReturnButtonsVm
@{
	// Used to drop the save and return buttons into 
	var saveOperation = Model.SaveOperation;
}	
		

<div class="input-group mt-2 " style="width:auto;margin-right:3px;">
	@if (saveOperation == "submit")
	{
		<button type="submit" name="Command" value="Save" class="btn btn-outline-primary">Save</button>

	}
	else if (saveOperation.StartsWith("#"))
	{
		<button id="@saveOperation" class="btn btn-outline-primary" class="ml-3" >Save</button>
	}
	else if (saveOperation.StartsWith("window."))
	{
		<button class="btn btn-outline-primary" class="ml-3" onclick="@saveOperation">Save</button>
	}
	<a href="@Model.ReturnUrl" class="btn btn-outline-secondary">@Model.ReturnText</a>

</div>
		