@using Msh.WebApp.Areas.Admin.Models
@model Msh.WebApp.Areas.Admin.Models.SaveReturnButtonsVm
@{
	// Used to drop the save and return buttons into 
}	

<div class="input-group mt-2 " style="width:auto;margin-right:3px;">

	@switch (Model.ButtonType)
	{
		case SaveReturnTypes.Submit:
			<button type="submit" name="Command" value="Save" class="btn btn-outline-primary">Save</button>
			break;
		case SaveReturnTypes.EventListener:
			<button id="@Model.SaveOperation" class="btn btn-outline-primary" class="ml-3">Save</button>
			break;
		case SaveReturnTypes.OnclickMethod:
			<button class="btn btn-outline-primary" class="ml-3" onclick="@Model.SaveOperation">Save</button>
			break;
	}

	<a href="@Model.ReturnUrl" class="btn btn-outline-secondary">@Model.ReturnText</a>

</div>
		