@using Msh.Admin.Models.Const
@{
	var title = "Admin OWS";
	ViewData["Title"] = title;
}

@await Component.InvokeAsync("AdminMenu", new { menuName = AdminConst.MenuOws, currentItem = "OwsIndex" })


<div class="text-center">
	<h1 class="display-6">@title</h1>
</div>

