@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.Models.Admin

@model Msh.Opera.Ows.Models.OwsConfig;
@{
	var title = "OWS Config Triggers";
	ViewData["Title"] = title;

	ViewBag.EditFormParam = new EditFormParam
	{
		ModelName = "CriticalErrorTrigger",
		ReturnUrl = "/admin/ows",
		ReturnText = "OWS Dashboard",
		KeyPropertyLabel = title,
		KeyPropertyName = "Code",
		KeyPropertyValue = "",
		FormAction = "OwsConfigEditTriggers"
	};
}

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Edit the main OWS Config Critical Error Triggers</p>
	<p>Enter error codes and the pattern that is used to catch them.</p>
</div>

<input type="hidden" id="api-method" value="OwsConfigEditTriggers" />

<div class="row">
	<div class="col-12" id="table-target">

	</div>
</div>

@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = "/Admin/Ows/",
	ReturnText = ConstReturnText.ReturnToDash,
	SaveOperation = "#save-ows-config-triggers"
})


@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/ows/msh-admin-owsconfig-triggers.js"></script>
}