@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.Models.Admin
@using Msh.WebApp.TagHelpers

@model Msh.Opera.Ows.Models.OwsConfig;
@{
	var title = "OWS Config";
	ViewData["Title"] = title;

	ViewBag.EditFormParam = new EditFormParam
	{
		ModelName = "OwsConfig",
		ReturnUrl = "/admin/ows",
		ReturnText = "OWS Dashboard",
		KeyPropertyLabel = title,
		KeyPropertyName = "Code",
		KeyPropertyValue = "",
	};
	var formParam= ViewBag.EditFormParam as EditFormParam;
}

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Edit the main OWS Config properties</p>
	<p><a asp-controller="Ows" asp-action="OwsConfigEditMap">Schema Maps</a></p>
</div>


@await Html.PartialAsync("Admin/_AdminSaveSuccess", formParam)


<div class="row">
	<div class="col-12">

		<form asp-action="OwsConfigEdit">

			<div class="row">
				<div class="col-md-6 col-12">

					<div class="form-group mb-3">
						<label asp-for="PasswordEnvVar" class="control-label"></label>&nbsp;
						<info-icon name="info-password-env-var" />
						<input asp-for="PasswordEnvVar" class="form-control " />
						<span asp-validation-for="PasswordEnvVar" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="Password" class="control-label"></label>&nbsp;
						<info-icon name="info-password" />
						<input asp-for="Password" class="form-control " />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>


					<div class="form-group mb-3">
						<label asp-for="BaseUrl" class="control-label"></label>&nbsp;
						<info-icon name="info-base-url" />
						<input asp-for="BaseUrl" class="form-control " />
						<span asp-validation-for="BaseUrl" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="DefaultHotelCode" class="control-label"></label>&nbsp;
						<info-icon name="info-default-hotel-code" />
						<input asp-for="DefaultHotelCode" class="form-control " />
						<span asp-validation-for="DefaultHotelCode" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="ChainCode" class="control-label"></label>&nbsp;
						<info-icon name="info-chain-code" />
						<input asp-for="ChainCode" class="form-control " />
						<span asp-validation-for="ChainCode" class="text-danger"></span>
					</div>




					<div class="form-group mb-3">
						<label asp-for="ElhUserId" class="control-label"></label>&nbsp;
						<info-icon name="info-elh-user-id" />
						<input asp-for="ElhUserId" class="form-control " />
						<span asp-validation-for="ElhUserId" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="DefaultCardPaymentMethod" class="control-label"></label>&nbsp;
						<info-icon name="info-default-card-payment-method" />
						<input asp-for="DefaultCardPaymentMethod" class="form-control " />
						<span asp-validation-for="DefaultCardPaymentMethod" class="text-danger"></span>
					</div>


					<div class="form-group mb-3">
						<label asp-for="VoucherPaymentMethod" class="control-label"></label>&nbsp;
						<info-icon name="info-voucher-payment-method" />
						<input asp-for="VoucherPaymentMethod" class="form-control " />
						<span asp-validation-for="VoucherPaymentMethod" class="text-danger"></span>
					</div>

					<div class="form-group mb-3">
						<label asp-for="RetryCount" class="control-label"></label>&nbsp;
						<info-icon name="info-retry-count" />
						<input asp-for="RetryCount" class="form-control " />
						<span asp-validation-for="RetryCount" class="text-danger"></span>
					</div>

				</div> @* End Col *@
			</div> @* End Row *@

			@* Include the Save/Return/Publish/Archive/Load/Lock/Info buttons *@
			@await Html.PartialAsync("_PublishArchiveLoadLock", new PublishArchiveLoadLockVm
			{
				ReturnUrl = "/Admin/Ows/",
				ReturnText = ConstReturnText.ReturnToDash,
				ButtonType = SaveReturnTypes.Submit,
				SaveOperation = "submit"
			})


		</form>

	</div>
</div>

@section InfoItems {


	<div data-info-for="info-elh-user-id">
		<span>ELH User ID</span>
		<div>
			<p>
				This is the channel user ID that is used in calls to OWS, along with the password.
			</p>
		</div>
	</div>
	<div data-info-for="info-password">
		<span>Password</span>
		<div>
			<p>
				It is preferable that passwords are stored in an environment variable, but for testing of the staging site it can be stored here.
			</p>
		</div>
	</div>
	<div data-info-for="info-chain-code">
		<span>Chain Code</span>
		<div>
			<p>
				The default Chain Code used for OWS calls. Individual for individual hotels may be set in the Hotels list.
			</p>
		</div>
	</div>
	<div data-info-for="info-default-hotel-code">
		<span>Default Hotel Code</span>
		<div>
			<p>
				The Hotel Code of the default hotel used for OWS calls that are not hotel specific but still require a Hotel Code.
			</p>
		</div>
	</div>
	<div data-info-for="info-password-env-var">
		<span>Password Env Var</span>
		<div>
			<p>
				This is the environment variable name where the OWS password is stored. 
				If this is blank the password will be expected to be in the Password field.
			</p>
		</div>
	</div>
	<div data-info-for="info-base-url">
		<span>BASE URL</span>
		<div>
			<p>
				The base URL is that part of the URL to be used in OWS calls, but without the module specific name: Reservations, Information, etc.
			</p>
		</div>
	</div>
	<div data-info-for="info-information-url">
		<span>Information Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-availability-url">
		<span>Availability Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-reservation-url">
		<span>Reservation Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-resv-advanced-url">
		<span>Resv Advanced Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-security-url">
		<span>Security Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-name-url">
		<span>Name Url</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-retry-count">
		<span>OWS Retry Count</span>
		<div>
			<p>
				WHen OWS returns certain errors, the booking system might be able to try the call again. 
				This is the number of times the booking system will retry before abandoning the attempt.
			</p>
		</div>
	</div>
	<div data-info-for="info-default-card-payment-method">
		<span>Default Card Payment Method</span>
		<div>
			<p>
				When a payment is posted to OWS it requires a Payment Method code. Enter a default here.
			</p>
		</div>
	</div>
	<div data-info-for="info-voucher-payment-method">
		<span>Voucher Payment Method</span>
		<div>
			<p>
				When a payment is posted to OWS for vouchers it requires a Voucher Payment Method code. Enter a default here.
			</p>
		</div>
	</div>
}


@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/msh-admin-palls.js"></script>
	
}