@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Msh.WebApp.Areas.Admin.Models
@using Msh.WebApp.Models.Admin

@model Msh.Opera.Ows.Models.OwsConfig;
@{
	var title = "OWS Config Maps";
	ViewData["Title"] = title;

	ViewBag.Success = new SuccessAlert
	{
		ModelName = "OwsConfigMap",
		ReturnUrl = "/admin/ows",
		ReturnText = "OWS Dashboard",
		KeyPropertyLabel = title,
		KeyPropertyName = "Code",
		KeyPropertyValue = "",
		FormAction = "OwsConfigEditMap"
	};
}

<div class="text-center">
	<h1 class="display-6">@title</h1>
	<p>Edit the main OWS Config properties</p>
	<p><a asp-controller="Ows" asp-action="Index">Index</a></p>
</div>

<input type="hidden" id="api-method" value="OwsConfigMaps"/>

<div class="row">
	<div class="col-12" id="table-target">

	</div>
</div>

@await Html.PartialAsync("_SaveReturnButtons", new SaveReturnButtonsVm
{
	ReturnUrl = "/Admin/Ows/",
	ReturnText = ConstReturnText.ReturnToDash,
	SaveOperation = "#save-ows-config-maps"
})

@section Scripts {
	<script src="~/js/mshapp/msh-apiservice.js"></script>
	<script src="~/js/mshapp/mshapp.js"></script>
	<script src="~/js/admin/ows/msh-admin-owsconfig-maps.js"></script>
}