@* Info blocks for _HotelEdit.cshtml *@


<div id="page-info" style="display:none;">

	
	<div data-info-for="info-discount-code">
		<span>Discount Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-enabled">
		<span>Enabled</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-selectable">
		<span>Selectable</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-min-rooms">
		<span>Min. Rooms</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-max-rooms">
		<span>Max. Rooms</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-min-nights">
		<span>Min. Nights</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-max-rooms">
		<span>Max. Rooms</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-discount-value">
		<span>Discount Value</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-discription">
		<span>Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-details">
		<span>Details</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-emails">
		<span>Email Validation List</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-short-description">
		<span>Short Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-copy-paste">
		<span>Requires Copy-Paste</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-full-pre-pay">
		<span>Full Pre-pay</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-min-total">
		<span>Min. Total</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-min-total-message">
		<span>Min. Total Message</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-limited-discount-message">
		<span>Limited Discount Message</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-discount-warning">
		<span>Discount Warning</span>
		<div>
			<p>

			</p>
		</div>
	</div>

	
	

	<div data-info-for="info-notes">
		<span>Notes</span>
		<div>
			<p>

			</p>
		</div>
	</div>
</div>
