@* Info blocks for _HotelEdit.cshtml *@

<div id="page-info" style="display:none;">

	<div data-info-for="info-invalid-code">
		<span>Invalid Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-requires-copy-paste-code">
		<span>Requires Copy-Paste Code</span>
		<div>
			<p>
				A message to the user to tell them they need to copy-paste the discount code into the page.
			</p>
			<p>
				This applies only when the page provides a textbox for the discount code.
			</p>
		</div>
	</div>
	<div data-info-for="info-not-applied">
		<span>Not Applied</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-search-error">
		<span>Search Error</span>
		<div>
			<p>
				
			</p>
		</div>
	</div>
	<div data-info-for="info-wrong-hotel">
		<span>Wrong Hotel</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-select-hotel">
		<span>Select Hotel</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-select-any-hotel">
		<span>Select Any Hotel</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-select-another-hotel">
		<span></span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-not-available-dates">
		<span>Select Another Hotel</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-book-dates">
		<span></span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-rooms">
		<span>Invalid Book Dates</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-nights">
		<span>Invalid Nights</span>
		<div>
			<p>
				A message to the user when they don't pick a valid number of nights for a NIGHTS discount.'
			</p>
		</div>
	</div>
	<div data-info-for="info-disabled-by-rate-plan">
		<span>Disabled By Rate Plan</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-enter-email">
		<span>Enter Email</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-one-time-invalid">
		<span>One-Time Invalid</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-one-time-expired">
		<span>One-Time Expired</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-one-time-used">
		<span>One-TimecUsed</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-booking">
		<span>Invalid Booking</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-booking-status">
		<span>Invalid Booking Status</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-room-limit">
		<span>Room Limit</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-invalid-depart-date">
		<span>Invalid Depart Date</span>
		<div>
			<p>

			</p>
		</div>
	</div>

</div>

