@* Info blocks for _HotelEdit.cshtml *@

<div id="page-info" style="display:none;">

	<div data-info-for="info-requires-reservation-id">
		<span>Requires Reservation Id</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-requires-resv-id">
		<span>Requires Resv Id</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-requires-profile-id">
		<span>Requires Profile Id</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-requires-email">
		<span>Requires Email</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-requires-login">
		<span>Requires Login</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-requires-past-depart">
		<span>Requires Past Depart</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-allow-rollover">
		<span>Allow Rollover</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-update-booker">
		<span>Update Booker</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>
	<div data-info-for="info-expire-count">
		<span>Expire Count</span>
		<div>
			<p>
			
			</p>
		</div>
	</div>

</div>
