@* Info blocks for _HotelEdit.cshtml *@


<div id="page-info" style="display:none;">

	<div data-info-for="info-code">
		<span>Extra Code</span>
		<div>
			<p>
				A unique code within the hotel. It must match the Opera Package code.
			</p>
		</div>
	</div>
	<div data-info-for="info-price">
		<span>Extra Price</span>
		<div>
			<p>
				The price should match that from Opera.
			</p>
		</div>
	</div>
	<div data-info-for="info-display-text">
		<span>Display Text</span>
		<div>
			<p>
				The text to display to the user.
			</p>
		</div>
	</div>
	<div data-info-for="info-description">
		<span>Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-updated">
		<span>Updated</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-enable">
		<span>Enabled</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-enable-all">
		<span>Enabled All</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-notes">
		<span>Notes</span>
		<div>
			<p>

			</p>
		</div>
	</div>
</div>
