@* Info blocks for _HotelEdit.cshtml *@



	<div data-info-for="info-chain-code">
		<span>Chain Code</span>
		<div>
			<p>
				This is a code required by Opera when posting OWS SOAP messages.
			</p>
		</div>
	</div>
	<div data-info-for="info-hotel-code">
		<span>Hotel Code</span>
		<div>
			<p>
				The hotel code is used to identify a hotel in Opera, and in this web booking system.
				The hotel codes used here must be those that Opera uses.
			</p>
		</div>
	</div>
	<div data-info-for="info-name">
		<span>Name</span>
		<div>
			<p>
				The name of the hotel, as it will appear on pages here, and in emails to the user.
				Typically, this would be the same as used in Opera, but can be different.
			</p>
		</div>
	</div>
	<div data-info-for="info-description">
		<span>Description</span>
		<div>
			<p>
				This is a description for the hotel, and will contain HTML.
			</p>
		</div>
	</div>
	<div data-info-for="info-subtitle">
		<span>Subtitle</span>
		<div>
			<p>
				A short subtitle for the hotel.
			</p>
		</div>
	</div>
	<div data-info-for="info-confirm-copy">
		<span>Confirm Copy</span>
		<div>
			<p>
				This is additional confirmation copy specific to the hotel, added to the confirmation page and to emails.
			</p>
		</div>
	</div>
	<div data-info-for="info-image-file">
		<span>Image File</span>
		<div>
			<p>
				The image file used to display the hotel.
			</p>
		</div>
	</div>
	<div data-info-for="info-search-image-file">
		<span>Search Image File</span>
		<div>
			<p>
				The image used on the search page.
			</p>
		</div>
	</div>
	<div data-info-for="info-crs-number">
		<span>CRS Number</span>
		<div>
			<p>
				The Central Reservations Number to call to make reservations. 
				The customer can call this number if they have an issue booking.
			</p>
			<p>
				Note that a system may be employed to make this a dynamic number.
			</p>
		</div>
	</div>
<div data-info-for="info-crs-number-int">
	<span>CRS Number Int</span>
	<div>
		<p>
			The Central Reservations Number to call to make reservations, for international customers. 
			The customer can call this number if they have an issue booking.
		</p>
		<p>
			Note that a system may be employed to make this a dynamic number.
		</p>
	</div>
</div>
<div data-info-for="info-enabled">
	<span>Enabled</span>
	<div>
		<p>
			The Enabled flag must be set to be able to make bookings for the hotel.
		</p>
	</div>
</div>
	<div data-info-for="info-disabled-text">
		<span>Disabled Text</span>
		<div>
			<p>
				The text to display if the hotel is disabled. Plain single line text.
			</p>
		</div>
	</div>
	<div data-info-for="info-no-dogs">
		<span>No Dogs</span>
		<div>
			<p>
				Set this true to disallow dogs or other animals in the whole of the hotel.
			</p>
			<p>
				If dogs are allowed in the hotel, they may be disallowed in specific room types.
			</p>
		</div>
	</div>
	<div data-info-for="info-no-dogs-text">
		<span>No Dogs Text</span>
		<div>
			<p>
				The text to display when the users are informed that dogs are not allowed.
			</p>
			<p>
				This No Dogs feature could be used for pets in general.
			</p>
		</div>
	</div>

	<div data-info-for="info-groups">
		<span>Room Type Groups</span>
		<div>
			<p>
				Set this if room types are to be presented by their group code, where room types that are slightly different.
				When presented using group codes, rooms with different Room Type Code values are under the same Group Code.
			</p>
			<p>
				For example, room types ABC might have 5 available, and DEF might have 4 available. If they are grouped under Group Code XYZ,
				then there would be 9 XYZ available.
			</p>
			<p>
				Once the room type has been selected by the customer, the system will auto-select either an ABC or a DEF.
			</p>
		</div>
	</div>

	<div data-info-for="info-admin-notes">
		<span>Admin Notes</span>
		<div>
			<p>
				Add notes for admin users. This isn't seen by customers booking using the site.
			</p>
		</div>
	</div>
