@* Info blocks for _RatePlanEditInfo.cshtml *@

@section InfoItems {

	<div data-info-for="info-rate-plan-code">
		<span>Rate Plan Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-confirmation-text">
		<span>Confirmation Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-default-desc">
		<span>Default Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group">
		<span>Group</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-title">
		<span>Title</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-sub-title">
		<span>Sub-Title</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-description">
		<span>Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-short-description">
		<span>Short Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-unavailable-offer">
		<span>Unavailable Offer</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-market-segment">
		<span>Market Segment</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-source-code">
		<span>Source Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-base-rate">
		<span>Is Base Rate</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-offer">
		<span>Is Offer</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-promotion">
		<span>Is Promotion</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-dbb">
		<span>Is DBB</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-dbb-text">
		<span>DBB Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-full-pre-pay">
		<span>Full Pre-Pay</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-deposit-days">
		<span>Deposit Days</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-deposit-amount">
		<span>Deposit Amount</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-deposit-balance-message">
		<span>Deposit Balance Message</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-stay-from">
		<span>Stay From</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-stay-to">
		<span>Stay To</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-has-book-dates">
		<span>Has Book Dates</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-book-from">
		<span>Book From</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-book-to">
		<span>Book To</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-sort-order">
		<span>Group Sort Order</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-min-nights">
		<span>Min Nights</span>
		<div>
			<p>
				Ignored if zero.
			</p>
		</div>
	</div>
	<div data-info-for="info-max-nights">
		<span>Max Nights</span>
		<div>
			<p>
				Ignored if zero.
			</p>
		</div>
	</div>
	<div data-info-for="info-disable-discount">
		<span>Disable Discount</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-fit-enabled">
		<span>FIT Enabled</span>
		<div>
			<p>
				Can this rate plan be used for FIT bookings.
			</p>
		</div>
	</div>
	<div data-info-for="info-base-rate">
		<span>Base Rate</span>
		<div>
			<p>
				Where a rate is to be compared (with a strike-out)
				with some base rate, this is the code of the base rate.
			</p>
		</div>
	</div>
	<div data-info-for="info-notes">
		<span>Notes</span>
		<div>
			<p>

			</p>
		</div>
	</div>
}
