@* Info blocks for _RoomTypeEdit.cshtml *@


<div id="page-info" style="display:none;">

	<div data-info-for="info-room-type-code">
		<span>Room Type Code</span>
		<div>
			<p>
				A unique code that must match the Opera code for the room type.
			</p>
		</div>
	</div>
	<div data-info-for="info-group-code">
		<span>Group Code</span>
		<div>
			<p>
				A code used to group similar rooms.
			</p>
		</div>
	</div>
	<div data-info-for="info-occupation">
		<span>Occupation</span>
		<div>
			<p>
				Number of guests the room can take.
			</p>
		</div>
	</div>
	<div data-info-for="info-name">
		<span>Name</span>
		<div>
			<p>
				The name of he room.
			</p>
		</div>
	</div>
	<div data-info-for="info-description">
		<span>Description</span>
		<div>
			<p>
				A description of the room.
			</p>
		</div>
	</div>
	<div data-info-for="info-html-description">
		<span>HTML Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-image-file">
		<span>Image File</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-room-count">
		<span>Room Count</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-room-category">
		<span>Room Category</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-room-blocked">
		<span>Room Blocked</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-twin-option">
		<span>Twin Option</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-option-type-code">
		<span>Option Type Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-option-warning">
		<span>Otion Warning</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-image-gallery">
		<span>Image Gallery</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-name">
		<span>GroupName</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-description">
		<span>Group Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-html-description">
		<span>Group HTML Description</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-image">
		<span>Group Image</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-image-gallery">
		<span>Group Image Gallery</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-group-twin-description">
		<span>Group Twin Option</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-no-dogs">
		<span>No Dogs</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-no-dogs-text">
		<span>No Dogs Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>


	@{
		await Html.RenderPartialAsync("Admin/_AdminPublish", "Room Type List");
	}

</div>

