@* Info blocks for _SpecialEdit.cshtml *@




	<div data-info-for="info-code">
		<span>Special Code</span>
		<div>
			<p>
				Special Requests must be assigned a unique code.
			</p>
			<p>
				Specials are part of this booking system and not Opera. They are posted to Opera as comments.
			</p>
		</div>
	</div>

	
<div data-info-for="info-enabled">
	<span>Enabled</span>
	<div>
		<p>
			The Special must be enabled to be used.
		</p>
	</div>
</div>

<div data-info-for="info-adults-only">
	<span>Enabled</span>
	<div>
		<p>
			The Special is available only for adults.
		</p>
	</div>
</div>

<div data-info-for="info-item-type">
	<span>Enabled</span>
	<div>
		<p>
			Select the type of Special.
		</p>
	</div>
</div>

<div data-info-for="info-text">
		<span>Text</span>
		<div>
			<p>
				The text presented to the user that describes the Special.
			</p>
		</div>
	</div>
	<div data-info-for="info-selected-text">
		<span>Selected Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-short-text">
		<span>Short Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-valued">
		<span>Is Valued</span>
		<div>
			<p>
				True if the Special has a value.
			</p>
		</div>
	</div>
	<div data-info-for="info-single-line">
		<span>Single Line</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-warning-text">
		<span>Warning Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-notes">
		<span>Notes</span>
		<div>
			<p>

			</p>
		</div>
	</div>


