@* Info blocks for _SpecialEdit.cshtml *@


<div id="page-info" style="display:none;">
	
	
	
	<div data-info-for="info-code">
		<span>Special Code</span>
		<div>
			<p>

			</p>
			
		</div>
	</div>

	<div data-info-for="info-code">
		<span>Special Code</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-enabled">
		<span>Enabled</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-text">
		<span>Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-selected-text">
		<span>Selected Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-short-text">
		<span>Short Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-is-valued">
		<span>Is Valued</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-single-line">
		<span>Single Line</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-warning-text">
		<span>Warning Text</span>
		<div>
			<p>

			</p>
		</div>
	</div>
	<div data-info-for="info-notes">
		<span>Notes</span>
		<div>
			<p>

			</p>
		</div>
	</div>



	@{
		await Html.RenderPartialAsync("Admin/_AdminPublish", "Special List");
	}

</div>

