@model bool
@*

*@

<td class="text-center" style="width:50px;">
	@if (Model)
	{
		<span class="icon-green"><i class="fa fa-check"></i></span>
	}
	else
	{
		<span class="icon-red"><i class="fa fa-times"></i></span>
	}
</td>