@using Msh.HotelCache.Models
@* Info blocks for _TestModelEdit.cshtml *@


<div id="page-info" style="display:none;">

	<div data-info-for="info-code">
		<span>Model Code</span>
		<div>
			<p>
				A unique code that describes the model. @ConstHotel.Vem.CodeLength35
			</p>
		</div>
	</div>

	<div data-info-for="info-name">
		<span>Model Name</span>
		<div>
			<p>
				A name for the item. @ConstHotel.Vem.NameLength350
			</p>
		</div>
	</div>

	<div data-info-for="info-email">
		<span>Model Email</span>
		<div>
			<p>
				A valid email.
			</p>
		</div>
	</div>
	<div data-info-for="info-email">
		<span>Model Password</span>
		<div>
			<p>
				A valid password.
			</p>
		</div>
	</div>
	<div data-info-for="info-notes">
		<span>Model Notes</span>
		<div>
			<p>
				Enter some notes (optional)
			</p>
		</div>
	</div>
</div>
